//-------------UTILS----------------------
@import "./utils/variables";
@import "./utils/brakepoints";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./utils/visually-hidden";
//-------------BASE-----------------------
@import "./base/container";
@import "./base/common";
//-------------COMPONENTS-----------------
@import "./components/button";
@import "./components/social";
@import "./components/modal";
@import "./components/modal-form";
//-------------PAGE HEADER----------------
@import "./layout/page-header/page-header";
@import "./layout/page-header/nav";
@import "./layout/page-header/logo";
@import "./layout/page-header/menu";
@import "./layout/page-header/site-nav";
@import "./layout/page-header/contact";
//--------------MAIN----------------------
@import "./layout/main/hero";
@import "./layout/main/features";
//@import "./layout/main/servises";
@import "./layout/main/team";
@import "./layout/main/clients";
//--------------PAGE FOOTER---------------
@import "./layout/page-footer/footer";
@import "./layout/page-footer/address";
@import "./layout/page-footer/join";
@import "./layout/page-footer/subscribe";
