.contact {
  @extend %list;
  @include font(500, 18px, 21px);
  letter-spacing: 0.02em;

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
  &__link {
    text-decoration: none;
    color: $secondary-text-color;

    transition: color $transition-time $transition-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }

    &--current {
      position: relative;

      padding: 8px 0;

      color: $accent-color;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        width: 100%;
        height: 4px;

        background: $accent-color;
        border-radius: 2px;
      }
    }
  }
  &__icon {
    margin-right: 10px;

    fill: currentColor;
  }
}
