.contact {
  @extend %list;
  @include font($main-font-family, 500, 18px, 21px, 0.02em);

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
  &__link {
    text-decoration: none;
    color: $secondary-text-color;

    @include transition(color);
    &:hover,
    &:focus {
      color: $accent-color;
    }

    &__icon {
      margin-right: 10px;

      fill: currentColor;
    }
  }
}
