@include page-header-list(site-nav);

.site-nav {
  @extend %visually-hidden;

  &__link--current {
    position: relative;

    color: $accent-color;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;

      width: 100%;
      height: 4px;

      background: $accent-color;
      border-radius: 2px;
    }
  }
}
