.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  overflow-y: scroll;

  @include transition(all);

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @include transition(all);
  }
  &--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    @include transition(transform);
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  padding: 40px;
  max-width: 450px;

  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: #ffffff;

  transform: translate(-50%, -50%) scale(1);
  @include transition(transform);

  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    @extend %centered;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background: $white-color;

    cursor: pointer;
  }

  &__btn:hover .modal__icon,
  &__btn:focus .modal__icon {
    fill: $accent-color;
  }

  &__icon {
    width: 18px;
    height: 18px;

    fill: #000000;

    @include transition(fill);
  }

  &__slogan {
    display: block;
    text-align: center;

    margin-bottom: 12px;

    @include font($main-font-family, 700, 20px, 30px);

    //@include font(700, 20px, 23px);

    color: $primary-text-color;
  }
}
