.site-form {
  width: 100%;
  height: 100%;

  &__wrapper {
    margin-bottom: 20px;
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__field:not(:last-child) {
    margin-bottom: 10px;
  }

  &__label {
    display: inline-flex;

    margin-bottom: 4px;

    @include font($main-font-family, 400, 12px, 14px, 0.01em);

    color: $secondary-text-color;
  }

  &__label:hover {
    cursor: pointer;
  }

  &__input {
    padding: 11px 42px;

    width: 370px;

    @include font($main-font-family, 400, 14px, 16px);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: $secondary-text-color;

    @include transition(border-color);
  }

  &__input::placeholder {
    @include font($main-font-family, 400, 12px, 14px, 0.01em);
  }

  &__textarea {
    position: relative;
    resize: none;
    overflow-y: auto;

    padding: 12px 16px;

    height: 120px;
    width: 100%;

    @include font($main-font-family, 400, 14px, 16px, 0.01em);

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    color: $secondary-text-color;
    @include transition(border-color);
  }

  &__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &__icon {
    position: absolute;
    z-index: -1;
    left: 12px;
    bottom: 12px;

    width: 18px;
    height: 18px;

    @include transition(fill);
  }

  &__input:focus + &__icon {
    fill: $accent-color;
  }
  &__input:focus,
  &__textarea:focus {
    border-color: $accent-color;
    cursor: pointer;
    outline: transparent;
  }

  &__input:hover,
  &__textarea:hover {
    cursor: pointer;
  }
}

.check {
  position: relative;
  display: flex;
  align-items: center;

  margin-bottom: 30px;

  &__label {
    display: inline-flex;
    // padding-left: 12px;

    @include font($main-font-family, 400, 12px, 14px);
    //@include font(400, 14px, 24px);

    color: $secondary-text-color;
    cursor: pointer;
  }
  &__label::before {
    content: "";
    display: flex;

    width: 15px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid #212121;
    border-radius: 2px;

    background-image: url(../images/form-check.svg);
    background-size: cover;
    background-origin: border-box;

    @include transition(background-color);
    @include transition(border-color);
  }

  &__input {
    @extend %visually-hidden;
  }

  &__input:checked + &__label::before {
    background-color: $accent-color;
    border-color: $accent-color;
  }

  &__input:focus + &__label::before,
  &__input:hover + &__label::before {
    border-color: $accent-color;
  }
  &__link {
    display: inline-flex;
    text-decoration: none;
    position: relative;

    color: $accent-color;
  }
  &__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    height: 1px;
    background-color: $accent-color;
  }
}
