.clients {
  padding: 60px 0;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}

.clients-list {
  @extend %list;
  @extend %centered;
  flex-wrap: wrap;

  &--grid {
    margin: -15px;
  }

  &__item {
    margin: 15px;

    height: 90px;
    width: calc((100% - 60px) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 90px) / 3);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 180px) / 6);
    }
  }

  &__link {
    //@extend %link;

    @extend %centered;
    width: 100%;
    height: 100%;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: $icon-color;

    @include transition(all);
  }

  &__icon {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
