.clients {
  padding: 60px 0;
  //padding-top: 94px;
  //padding-bottom: 94px;
  text-align: center;

  &__title {
    margin-bottom: 30px;

    //margin-bottom: 50px;
  }
}

.clients-list {
  @extend %list;
  @extend %centered;
  flex-wrap: wrap;

  &--grid {
    padding: 15px 0;
    margin: -15px;
  }

  &__item {
    margin: 15px;
  }

  // &__item:not(:last-child) {-----------
  //  margin-right: 30px;--------------
  //}-------------------------------

  &__link {
    @extend %centered;

    width: 210px;
    // width: 170px;--------------------
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: $icon-color;

    @include transition(color);
    @include transition(border-color);
  }

  &__icon {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
