.features {
  padding: 60px 0;

  background-color: $white-color;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.features-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  &--grid {
    margin: -15px;
  }

  &__item {
    margin: 15px;

    @media screen and (min-width: 768px) {
      max-width: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 1200px) {
      max-width: calc((100% - 120px) / 4);
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  &__subtitle {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    margin-bottom: 10px;

    @include font($main-font-family, 700, 14px, 16px);
    text-transform: uppercase;

    color: $primary-text-color;
  }
  &__description {
    @include font($main-font-family, 400, 14px, 24px);

    color: $secondary-text-color;
  }
  &__pic {
    @extend %centered;

    width: 100%;

    min-height: 120px;

    border-radius: 4px;
    margin-bottom: 30px;

    background: #f5f4fa;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
}
