.team {
  padding: 60px 0;
  //@extend %centered;
  //padding-top: 94px;
  // padding-bottom: 94px;

  background-color: #f5f4fa;

  &__title {
    margin-bottom: 30px;
    //margin-bottom: 50px;
  }
}

.team-list {
  // @extend %centered;
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  &--grid {
    margin: -15px;
  }

  &__item {
    margin: 15px;
    @media screen and (min-width: 768px) {
      max-width: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 1200px) {
      max-width: calc((100% - 120px) / 4);
    }
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  &__img {
    @extend %img;
    /*
    @media screen and(max-width: 767px) {
      min-height: 460px;
    }

    @media screen and(min-width: 768px) {
      width: 354px;
      height: 374px;
    }*/
  }

  &__description {
    text-align: center;
    padding: 30px 0 24px;
    //padding: 30px 0;

    background-color: #ffffff;
    border-radius: inherit;
  }

  &__title,
  &__text {
    @include font($main-font-family, 400, 16px, 19px);

    color: $primary-text-color;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 16px;
    color: $secondary-text-color;
  }
}
