.footer {
  background-color: #2f303a;
  padding: 60px 0;
  @media screen and (max-width: $desktop - 1px) {
    text-align: center;
  }

  &__slogan {
    display: block;
    margin-bottom: 20px;

    @include font($main-font-family, 700, 14px, 16px);
    text-transform: uppercase;

    color: #ffffff;
  }
  &__container {
    text-align: center;
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
    }
  }
  &__contact {
    min-width: 231px;
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin-right: 165px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 70px;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }

  @media screen and (max-width: $desktop - 1px) {
    &__address,
    &__join {
      margin-bottom: 60px;
    }
  }

  &__join {
    @media screen and (min-width: $desktop) {
      margin-right: 93px;
    }
  }
  &__tablet {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
  }
  &__subscribe {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin: 0 auto;
    }
    @media screen and (min-width: $desktop) {
      flex-grow: 1;
    }
  }
}
