.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  &__slogan {
    display: block;
    margin-bottom: 20px;

    @include font(700, 14px, 16px);
    text-transform: uppercase;

    color: #ffffff;
  }
  &__container {
    @extend %centered;
    flex-direction: column;
    //align-items: baseline;
  }
  &__contact {
    //@extend %centered;
    //flex-direction: column;

    min-width: 231px;
    //margin-right: 70px;
  }
  &__logo {
    margin-bottom: 20px;
  }

  &__address {
    margin-bottom: 60px;
  }
  &__join {
    margin-bottom: 60px;
    // margin-right: 93px;
    //}
    //&__subscribe {
    // flex-grow: 1;
  }
}
