.subscribe {
  display: flex;
  flex-direction: column;

  width: 100%;

  //&__form {
  //display: flex;
  //}

  &__field {
    @extend %centered;
    position: relative;
    flex-grow: 1;
    align-items: center;
    margin-right: 12px;
  }
  &__label {
    position: absolute;
    left: 16px;
    //top: 50%;
    transform: translateY(-50%);
    margin: 0;

    @include font(400, 16px, 20px);

    color: rgba(255, 255, 255, 0.6);
    transition: color $transition-time $transition-function;
  }
  &__input {
    padding: 15px 16px 15px 79px;
    margin-bottom: 20px;

    width: 100%;

    @include font(400, 16px, 20px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    transition: border $transition-time $transition-function;
  }
  &__input:focus + &__label {
    color: $accent-color;
  }
  &__input:hover + &__label {
    cursor: pointer;
  }
  &__button {
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  &__input::placeholder {
    @include font(400, 16px, 20px);
  }
}
