$main-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$button-activ-color: #188ce8;
$icon-color: #afb1b8;
$white-color: #ffffff;
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
