.filters {
  //@extend %centered;
  @extend %list;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;

    .filters__item:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__name {
    display: inline-flex;
    text-align: center;

    padding: 6px 22px;

    @include font($main-font-family, 500, 16px, 26px);

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f5f4fa;
    color: $primary-text-color;

    cursor: pointer;
    @include transition(background-color);
    @include transition(color);
    @include transition(border-color);
  }

  &__input {
    @extend %visually-hidden;
  }
  &__input:checked + &__name {
    background-color: $accent-color;

    color: #ffffff;
  }
  &__name:hover {
    border-color: $accent-color;
  }
}
