.filters {
  @extend %centered;
  @extend %list;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__name {
    display: inline-flex;
    text-align: center;

    padding: 6px 22px;

    font-family: $main-font-family;
    @include font(500, 16px, 26px);

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f5f4fa;
    color: $primary-text-color;

    cursor: pointer;
    transition: background-color $transition-time $transition-function, color $transition-time $transition-function, border-color $transition-time $transition-function;
  }

  &__input {
    @extend %visually-hidden;
  }
  &__input:checked + &__name {
    background-color: $accent-color;

    color: #ffffff;
  }
  &__name:hover {
    border-color: $accent-color;
  }
}
