.portfolio {
  padding: 60px 0;
  //padding-top: 94px;
  // padding-bottom: 94px;

  background-color: #ffffff;

  &__filters {
    margin-bottom: 40px;

    //margin-bottom: 50px;
  }

  &__project {
    padding: 15px 0;
    margin: -15px;
  }
}
