.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #ffffff;

  &__title {
    @extend %visually-hidden;
  }

  &__filters {
    margin-bottom: 50px;
  }

  &__project {
    margin: -15px;
  }
}
