.project {
  // @extend %centered;
  @extend %list;
  flex-wrap: wrap;

  &__item {
    margin: 15px;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
    }
    @media screen and (min-width: 1199px) {
      width: calc((100% - 3 * 30px) / 3);
    }
  }

  &__title {
    margin-bottom: 4px;

    @include font($main-font-family, 700, 18px, 36px, 0.06em);

    color: $primary-text-color;
  }

  &__description {
    @include font($main-font-family, 400, 16px, 30px);

    color: $secondary-text-color;
  }

  &__wrapper {
    padding: 20px 24px;

    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  &__link {
    @extend %link;
    display: block;

    @include transition(box-shadow);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__text {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    padding: 63px 24px;

    @include font($main-font-family, 400, 18px, 28px);

    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateY(100%);
    @include transition(transform);
    @include transition(opacity);
    @include transition(visibility);

    .project__link:hover &,
    .project__link:focus & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateY(0%);
    }
  }
  &__img {
    @extend %img;
  }
}
